.homepage-elements .jumbotron {
  margin:auto; 
  width: 100%;
  height: 0px; 
  background:none;
  background-repeat: no-repeat;
  display:inline;
}
.homepage-elements .jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../Assets/image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity : 0.4;
    z-index: -1;
}

.jobs-header .jumbotron{
  margin:auto; 
  width: 100%;
  height: 0px; 
  background:none;
  background-repeat: no-repeat;
  display:inline;
  background-color: aqua;
}
.jobs-header{
  width: 100%;
  height: 100px;
}
.jobs-header .jumbotron::after{
  margin:auto; 
  width: 100%;
  height: 100px; 
  background:none;
  background-repeat: no-repeat;
  display:inline;
  
}

.about{
  background-repeat: no-repeat;
}
.homepage-elements .card{
  left: 40px;
  top : 200px;
  width : 80%;
  height: 100%;
  background-color : rgb(221, 175, 25,0.7);  
  text-align: center;
}
.homepage-elements .card :hover{
  color:rgb(221, 175, 25); ;
  background-color: rgb(10,10,10);
}
.button-register{
  text-align:center;
  margin:auto;
  display:flex;
  display:grid;
  width : 20%;
  animation: showup 9s normal;
}
.card-img-bottom{
  background-image: url("./../../Assets/location.jpg");
  background-size : cover;
  height:70%;
  width : 70%;
  position: center;
}
.about-section{
overflow : hidden;
}
.searchbar{
  position: center;
  background-color: aqua;
  margin-right: -50px;
  height: 10%; 
  width:100%;
}
.form-inline{
  right: 100px;
}
.animate-slide-1{
  font-size:large;
  font-style: bold;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  position : relative;
  overflow : hidden;
  animation: showup 7s normal;
  background-repeat: no-repeat;
}
@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}
.animate-slide-2{
  text-align: center;
  animation: slidein 9s normal;
  font-style: italic;
}
@keyframes slidein {
  0% { margin-left:-2500px; opacity:0}
  20% { margin-left:-2200px; opacity:1}
  35% { margin-left:0px; opacity:1}
  100% { margin-left:0px; opacity:1}
}
.dropdown{
  padding: 10px;
}
.homePage{
  background-repeat: no-repeat;
}
.homeContainer {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  opacity: 0.8;
}
.form-inline{
  position:right;
}
.homeCard {
  width: 23vw;
  min-height: 18vh;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.homeCard:hover {
  background: grey;
}
.homeCardBody {
  margin: 15px; 
}
.homeJobLocation {
  margin-bottom: 5px;
  color : black;
}
.homeJobCost {
  color : black;
}
.job:hover {
  text-decoration: none;
}
