.Profile-page {
  display: flex;
  background-color:antiquewhite;
}
.userProfilePic{
  margin-left: 70px;
  width:600px;
}

.Profile-picture {
  height: 200px;
  width: 200px;
}

.sidebar .card{
  bottom: 20px;
  margin-left:20px;
}
.card-userProfile{
  background-color : #2791ff;
  /*background-color : rgb(39, 145, 255, 0.7);*/
  /*color: #f0f0f0;*/
  width: 100%;
}