.container{
    background-color:white;
}

.card-header{
    background-color : rgba(247, 199, 43, 0.7);  
    color:black;
}

.jobcard{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body-img{
    display: block;
    width: 1800px; /* Width of background image */
    height: 800px; /* Height of background image */
    opacity: 0.5;
    position: fixed;
}

.jobImage {
    margin-right: 10px;
    background-image:url("../../Assets/handshake.png");
    background-size: contain;
    width: 360px;
    height: 360px;
    resize: both;
    overflow:hidden;
}

.btn-toolbar {
    width: 100%;
    justify-content: space-between;
    padding: 5px
}


.ratingContainer{
    display: flex;
    justify-content: left;
}

.sellerRating{
    display: inline;
    margin-left: 5px
}

.container {
    margin-top : 30px;
}