.header {
    height: 100px;
}
.logoDiv{
    color :yellow;
}
.logoDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(23, 23, 23);
  }

  .home-nav a{
    color:rgb(221, 175, 25);
  }
  
  .logoDiv li {
    float: left;
  }
  li a {
    display: block;
    text-align: center;
    color:rgb(221, 175, 25);
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111; 
    font-size: large;
  }  
  .active {
    background-color: #04AA6D;
  }

  nav{
    background-color: rgb(23, 23, 23);
    text-decoration: none;

  }
  a{
      color :rgb(235, 195, 64);
  }
.userCoinsIcon{
    margin: -2px 3px 0 5px;
    height: 100%;
    width: 18px;
}

.userProfileIcon{
    margin: 0 10px 0 10px;
    height: 3vh;
    width: 3vh;
    color: #1e2124;
}

.userProfileIcon:hover{
    fill: #17a2b8;
    cursor: pointer;
}

.logoDiv{
    fill:  rgb(235, 195, 64);
    color :rgb(221, 175, 25);
}

.logoDiv:hover{
    color: rgb(235, 195, 64) !important;
}

.coinContainer{
    margin: 0 20px 0 20px;
}

.coinsText{
    margin: 0 5px 0 0px;
}

.login-button .logout-button .register-button{
    margin: 0 5px 0 0px;
}

.mainLogo{
    margin: 0 10px 0 10px;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    color:aliceblue;
    background-color: #aa001e;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }