/* 
==========================================
 Author and Co-Authors: Faiyaz Rahman
 Last updated: 1 Nov 2021 04:08 PM
==========================================
*/
.dash-card {
    width: 300px;
    margin: 10px;
}

.dash-card:hover {
    background: #e8e8e8;
}

.dash-card-body {
    text-align: center;
}
  
.jobLocation {
    color: black;
}
  
.jobPrice {
    color: black;
}
  
.job:hover {
    text-decoration: none;
}

.currentJobs, .pastJobs {
    padding: 0;
}
