
.ChatRoom main {
    padding: 10px;
    height: 80vh;
    margin: 5vh 0 5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

main::-webkit-scrollbar {
    width: 0.25rem;
}

main::-webkit-scrollbar-track {
    background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
    background: #6649b8;
}

ul, li {
    text-align: left;
    list-style: none;
}

p.messageText {
    max-width: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: #6f42c1;
    outline-color: #6f42c1;
    position: relative;
    color: orangered;
    text-align: center;
}

#messageText {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: orangered;
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}

.ChatRoom form {
    height: 10vh;
    position: relative;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 728px;
    display: flex;

    font-size: 1.5rem;
}

.Login form {
    height: 10vh;
    background-color: rgb(24, 23, 23);
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
}

form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
}

.ChatRoom input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
}

.message.sent {
    justify-content: left;
    flex-direction: row-reverse;
    position: relative;
    float: right;
    margin-left: 80%;
    margin-right: 0;

    color: #41464b;
    border: #0a58ca;
    outline: #6f42c1;
    background: #6f42c1;
}

.message.received {
    justify-content: flex-start;
    color: #41464b;
    border: #0a58ca;
    outline: #6f42c1;
    background: #3dd5f3;
}

.messageForm {
    float: bottom;
    position: relative;
    margin: 100px;
}

.message {
    width: max-content;
    margin: 5vh 5vh 5vh 5vh;
    border-radius: 10vh;
}